.container__carousel {
    &--text {
        text-align: center;
        text-transform: uppercase;

    }

    &--img {
        width: 100px;
        height: auto;
        display: block;
        margin: auto;

    }
}